html {
    scroll-behavior: smooth;
}

body * {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: right;
}

nav{
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    height: auto;
    list-style-type: none;
}

ul{
    display: flex;
    text-align: right;
}

nav a{
    color: gray;
    text-decoration: none;
}
